@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rokkitt');

body {
	background-color: #ecf0f1;
	color: #34495e;
	font-family: 'Rokkitt', serif;
}

button {
	margin-top: 5px;
}

.container {
	position: absolute;
	top: 5%;
	left: 40%;
}

#starter {opacity: 1; pointer-events: auto; display: block;}
#first_step {opacity: 0; pointer-events: auto; display: block;}
#second_step {opacity: 0; display: block;}

ul {
	list-style: none;
	position: absolute;
	top: 5%;
	left: 80%;
}

li a {
	text-decoration: none;
	color: #34495e;
}

.cave {
	position: fixed;
    top: 635px;
    left: 1530px;
    width: 200px;
    height: 50px;
}

.castle {
    position: fixed;
    top: 235px;
    left: 1370px;
    width: 150px;
    height: 50px;
}

.monster-life {margin-bottom: 10px;}

.monster-life, .player-life{
	position:relative;
	width:500px;
	position:relative;
	padding:3px;
}

.percent{
	position:absolute;
	display:inline-block;
	top:3px;
	left: 50%;
	transform:translateX(-50%);
}

#monster-bar {
	opacity: 1;
	background-color:#2ecc71;
	height:20px;
	transition:width 150ms;
}

#player-bar {
	background-color:#2ecc71;
	height:20px;
	transition:width 150ms;
}

.control {
	text-align: center;
	margin-bottom: 10px;
}

#alive {display: block;}
#dead {display: none;}
